<!DOCTYPE html>
<html>
<head>
  <title>Empresaula Styleguide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="<%=asset_path('empresaula/favicon.png')%>" rel="shortcut icon" />
</head>
<body>
  <div id="wrapper">
    <h1>Empresaula Styleguide</h1>
    <%= yield %>
  </div>
</body>
</html>
